scafold_generator/output/
2D_3D_GENERATOR/pdf_output/
scafold_generator/output/
scafold_generator/images/
aframe_generator/output/
aframe_generator/images/
to_be_deleted_after_radial_implementation/
scaffold_structure/to_be_deleted_after_radial_implementation/